<% layout('layout') -%>

	<div class="row">
		<div class="col-sm-4">
        	<ul class="nav nav-pills nav-stacked">
			  <li class="active"><a href="#about-aapmm" data-toggle="tab">AAP Media Monitoring</a></li>
			  <li><a href="#about-method" data-toggle="tab">Our Methodology</a></li>
			  <li><a href="#about-team" data-toggle="tab">Team</a></li>
			  <li><a href="#about-next" data-toggle="tab">What's Next?</a></li>
			</ul>
		</div>
		<div class="col-sm-8">
			<div class="tab-content">
			  <div class="fade in tab-pane active" id="about-aapmm">
			  	<p class="lead font19">
			  		What is media saying about Aam Aadmi Party? Who is writing what?<br/>
					Is all the media biased? If so, can we quantify it?<br/>
					Which campaigns attract media attention and by how much?<br/>
					Who provides us with more media estate - TOI or HT?<br/>
					What was Hindu's coverage on Arvind's St. Stephens speech?<br/>
				</p>
				<p>
					The above are some of the questions that we seek to answer with this small effort. <strong>AAP Media Monitoring (AAPMM) Service</strong> tracks traditional news media channels. It maintains historical data from various sources and provides breakup of news stories by different media outlets along with the articles. It also tries to summarize the key topics covered on a given day.
				</p> 
				<p>
					It is a <i>work in progress</i>, we have just taken the first step. We will be soon adding more analysis, comparisons and more sources. If you have any suggestions, feedbacks or comments feel free to reach out to us at <a href="mailto:aapmm@googlegroups.com">aapmm@googlegroups.com</a>
				</p>
			  </div>
			  <div class="fade tab-pane" id="about-method">
			  	<p>
					Traditional News media is a big universe and covering everything requires infrastructure that is much beyond the scope of this project. But there is no need to do so, we can stand on the shoulder of giants!
				</p>
				<p>
					AAPMM sources data via two ways - 
					<ul>
						<li>
							<b>Direct crawling</b><br/>
							A selected list of news sources are crawled everyday and top stories from these sources are stored and indexed. This works for our usecase as almost all AAP related stories are indeed top stories. The selected list of sources includes TOI, Hindustan Times, The Hindu, Deccan Herald, Zee News and Indian Express.
						</li> 
						<li>
							<b>Google News RSS feed</b><br/>
							AAPMM uses topic specific RSS feeds provided by Google News to cover a much broader list of sources. This helps us to get good coverage, but we are limited by the number of topics.
						</li>
					</ul>
				</p>
				<p>
					Using open source solutions for crawling, extraction, indexing, api, monitoring and frontend, the entire system works in an automated manner.  
				</p>
			  </div>
			  <div class="fade tab-pane" id="about-team">
			    <p>
			    	Ten of us have contributed in bits and pieces to bring this solution together. We are: 
			    </p>
			    <ul class="aap-team-wrapper">
			    	<% for(var i=0; i<labs_team.length; i++) { %>
			    	<li><span class='aap-team'><%= labs_team[i].n %></span><span class='social-profiles-box'>
			    		<% if(labs_team[i].f) { %>
			    			&nbsp;<a href='http://www.facebook.com/<%= labs_team[i].f %>'><img src='/images/facebook.png' /></a>
			    		<% } if(labs_team[i].t) { %>
			    		&nbsp;<a href='http://www.twitter.com/<%= labs_team[i].t %>'><img  src='/images/twitter.png' /></a>
			    		<% } if(labs_team[i].e) { %>
			    		&nbsp;<a href='mailto:<%= labs_team[i].e %>'><img  src='/images/email.png' /></a></span></li>
			    		<% } %>
			    	<% } %>
				</ul>
			  </div>
			  <div class="fade tab-pane" id="about-next">
			  	<p>
			  		As we said earlier, this is just a start. We are going to be bringing in many more changes as we go along. 
			  	</p>
			  	<p>
					<i>"Who watches the Watchmen?"</i><br/>
					We are generally interested in how the media is doing? AAP is our first case in point to understand this area. Once we have sufficient data, we will be coming up with many more case studies. Stay tuned!  
			  	</p>
			  </div>
			</div>
		</div>
	</div>
