<% layout('layout') -%>

<div class="row well" id="compare-panel">
	<div class="form-inline">
	  <div class="form-group compare-query-field">
	    <input type="text" class="form-control" placeholder="Enter a keyword...">
	  </div>
	  <span class='vstext'>vs</span>	  
	  <div class="form-group compare-query-field">
	    <input type="text" class="form-control" placeholder="Enter a keyword...">
	  </div>
	  <span class='vstext'>vs</span>
	  <button id='compare-add-btn' class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add</button>
	</div>
  
  <br/>

  <button id='compare-do-btn' class="btn btn-success"><span class="glyphicon glyphicon-stats"></span>&nbsp;Compare</button>
  <button id="get-link-btn" class="btn btn-primary"><span class="glyphicon glyphicon-link"></span>&nbsp;Get Link</button>

</div>