<% layout('layout') -%>

  	<div id="jumbotron">
	    <p class="lead">Enter a keyword below to track its media activity</p>

	    <!-- Update Button -->
		<div class="form-inline">
		  <div class="form-group">
		    <input type="text" class="form-control" id="trend-query-string" placeholder="<%= user_query %>" value="<%= user_query %>">
		  </div>
		  <button id="trend-update-btn" class="btn btn-success"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;Track</button>
		  <button id="get-link-btn" class="btn btn-primary"><span class="glyphicon glyphicon-link"></span>&nbsp;Get Link</button>
		  <button id="compare-btn" class="btn btn-info"><span class="glyphicon glyphicon-stats"></span>&nbsp;Compare</button>
		</div>

		<!-- Update Button Ends -->
	</div>

	<div class="row" style="margin-top:30px">
		<!-- Trend Graph -->
	    <div class="col-lg-7 chart-box" id="article-count-trend-wrapper">
		    <div id="article-count-trend">	
		    </div>
		    <div id="article-count-trend-control">
		      <button type="button" class="btn btn-default btn-xs" id="show-all-series-btn"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Show All</button>
			  <button type="button" class="btn btn-default btn-xs" id="hide-all-series-btn"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Hide All</button>
		    </div>
		   	<div id="trend-loading" class="loading-bar">
		    	<div class="progress progress-striped active">
				  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				    Crunching data... Hold on..
				  </div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

			<!-- Trend Breakdown -->
	    <div id="trend-breakdown-wrapper" class="col-lg-4 chart-box">
		    <div id="trend-breakdown">
			</div>
			<div id="trend-breakdown-loading" class="loading-bar">
			    	<div class="progress progress-striped active">
					  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					    Breaking data... Sit tight...
					  </div>
					</div>
			</div>
		</div>

	</div>

	<div style="margin-top:50px" class="lead heading">Related Articles</div><hr/>

	<div id="articles-loading" class="loading-bar">
    	<div class="progress progress-striped active" >
		  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		    Getting articles... Hang on..
		  </div>
		</div>
	</div>

	<div id="articles-container">
		<!-- Word cloud -->
	    <div id="wordcloud-wrapper" class="col-lg-4 chart-box">
		    <div id="wordcloud">
			</div>
			<div id="wordcloud-loading" class="loading-bar">
			    	<div class="progress progress-striped active">
					  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					    Fetching keywords... Just a second..
					  </div>
					</div>
			</div>
		</div>
	</div>

  <!-- Articles Modal -->
  <div class="modal fade" id="articles-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        	<div id="articles-modal-loading" class="loading-bar">
			    	<div class="progress progress-striped active">
					  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					    Getting articles... Please wait...
					  </div>
					</div>
				</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Articles Modal Ends -->
