body {
  padding-top: 50px;
}

.inner-container {
  padding: 40px 15px;
}

#article-count-trend-wrapper {
	width: 700px;
	margin: 0 auto;
}

#trend-loading {
	padding-top: 20px;
	width: 300px;
	margin: 0 auto;
}

#article-box {
	text-align: left;
}

#jumbotron {
	margin: 0 auto;
	text-align: center;
}

@media (min-width: 1200px) {
	.article-box {
		width: 350px;
		height: 400px;
	}
	.article-inner-row {
		background-color: rgb(248, 245, 243);
		height: 53px;	
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

}

.article-box {
	margin: 10px;
	box-shadow: rgb(136, 136, 136) 2px 2px 10px;
	border: 0px solid rgb(212, 212, 212);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	padding-left: 0px;
	padding-right: 0px;
}

.chart-box {
	box-shadow: rgb(136, 136, 136) 2px 2px 10px;
	border: 0px solid rgb(212, 212, 212);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}

.article-inner-box {
	padding: 5px 20px;
}

.heading {
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	color: #777;
}

.view-article-btn {
	margin: 10px;
}

#article-count-trend-control {
	text-align: center;
	margin-bottom: 10px;
	display: none;
}
