body {
  padding-top: 50px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.font19 {
	font-size: 19px;
}

.marginbot10 {
	margin-bottom: 10px;
}

.inner-container {
  padding: 40px 15px;
}

.social-container {
	margin-top:15px;
	float:right;
}

#trend-breakdown {
	height: 432px;
	display: none;
}

#trend-breakdown-wrapper {
	margin-top: 10px;
}

#article-count-trend-control {
	text-align: center;
	margin-bottom: 10px;
	display: none;
}


#trend-query-form > div, #trend-query-form > button {
	margin-bottom: 10px !important;
}


.loading-bar {
	padding-top: 20px;
	width: 300px;
	margin: 0 auto;
}

#articles-modal .modal-dialog {
	width: 810px;
}

#about-modal .modal-dialog {
	width: 930px;
}

#article-box {
	text-align: left;
}

#wordcloud-wrapper {
	padding-left: 0px;
	padding-right: 0px;
	margin: 10px;
	max-width: 350px;
}

#wordcloud {
	height: 400px;
	max-width: 350px;
	display: none;
}

#jumbotron {
	margin: 0 auto;
	text-align: center;
}


@media (min-width: 1200px) {
	.article-box {
		width: 350px;
		height: 400px;
	}
	.article-inner-row {
		background-color: rgb(248, 245, 243);
		height: 53px;	
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	#trend-breakdown-wrapper {
		margin-left: 30px;
		margin-top: 0px;
	}

}

.article-box {
	margin: 10px;
	box-shadow: rgb(136, 136, 136) 2px 2px 10px;
	border: 0px solid rgb(212, 212, 212);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	padding-left: 0px;
	padding-right: 0px;
}

.chart-box {
	box-shadow: rgb(136, 136, 136) 2px 2px 10px;
	border: 0px solid rgb(212, 212, 212);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}

.article-inner-box {
	padding: 5px 20px;
}

.heading {
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	color: #777;
}

.view-article-btn {
	margin: 10px;
}

/* Compare page */

#compare-panel {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.compare-query-field {
	margin-bottom: 5px !important;
}

/* About page */

.social-profiles-box {
	display: none;
}

.aap-team {
	cursor: pointer;
}